<h1>Log in</h1>

<p>New to our service? Click <a href="/signup">here</a> to Sign up</p>

<form action="/login" method="post">
    <label for="">Email</label>
      <input type="email" name="email" value=""><br>
    <label>Password</label>
    <input type="password" name="password" value=""><br>
    <input type="submit" name="submit" value="Submit">
</form>
