<h1>Sign up</h1>

<p>Already have a account? Click <a href="/login">here</a> to log in</p>

<form class="" action="/signup" method="post">
  <label for="">Name</label>
  <input type="text" name="fullname"><br>
  <label for="">Email</label>
  <input type="email" name="email"><br>
  <label for="">Password</label>
  <input type="password" name="password" value=""><br>
  <input type="submit" name="submit" value="Submit">
</form>
