html{
  background-color: rgb(237, 193, 6);
  font-family: 'Julius Sans One', sans-serif;
}

#nav li{
  display: inline-block;
  margin: 0 5%;
  font-size: 30px;
}

h1{
  font-size: 3em;

}

#nav a{
  text-decoration: none;
}
